{
	"ignition": {
		"config": {
			"replace": {
				"verification": {}
			}
		},
		"proxy": {},
		"security": {
			"tls": {}
		},
		"timeouts": {},
		"version": "3.1.0"
	},
	"passwd": {
		"users": [{
			"name": "core",
			"sshAuthorizedKeys": [
				"{{ config.installer_ssh_key }}"
			]
		}]
	},
	"storage": {
		"files": [
			{
				"filesystem": "root",
				"group": {},
				"path": "/opt/coredns/Corefile",
				"user": {},
				"contents": {
					"source": "data:text/plain;charset=utf-8;base64,{{ lookup('file', '{{ coredns_tempdir.path }}/Corefile') | b64encode }}",
					"verification": {}
				},
				"mode": 420
			},
			{
				"filesystem": "root",
				"group": {},
				"path": "/opt/coredns/forward.db",
				"user": {},
				"contents": {
					"source": "data:text/plain;charset=utf-8;base64,{{ lookup('file', '{{ coredns_tempdir.path }}/forward.db') | b64encode }}",
					"verification": {}
				},
				"mode": 420
			}
		]
	},
	"systemd": {
		"units": [
			{
				"contents": "[Unit]\nDescription=coredns\nAfter=network-online.target\nWants=network-online.target\n[Service]\nTimeoutStartSec=0\nExecStartPre=-/bin/podman kill coredns\nExecStartPre=-/bin/podman rm coredns\nExecStartPre=/bin/podman pull docker.io/cloudctl/coredns\nExecStart=/bin/podman run --name coredns \\\n --net=host \\\n --privileged \\\n -v /opt/coredns/:/root/:Z \\\ndocker.io/cloudctl/coredns -conf /root/Corefile\n[Install]\nWantedBy=multi-user.target\n",
				"enabled": true,
				"name": "coredns.service"
			}
		]
	}
	}
